# https://stackoverflow.com/questions/44206782/do-i-commit-the-package-lock-json-file-created-by-npm-5
# https://github.com/npm/npm/issues/20603
# https://github.com/sindresorhus/ama/issues/479
# https://codeburst.io/disabling-package-lock-json-6be662f5b97d
package-lock=false
