---
---

@import "{{ site.theme }}";


h2 {
    clear: both;
}


.page-header {
    position: relative;
    background-color: orange;
    background-image:
        linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.9)),
        url('../img/steve-johnson-754951-unsplash_mod.jpg');
    background-size: cover;
    background-clip: content-box, border-box;

    &::after {
        content: 'Photo by Steve Johnson on Unsplash';
        display: inline-block;
        position: absolute;
        right: 0; top: 100%;

        padding: .2em .5em;
        color: gray;
        font-size: .85em;
        font-style: italic;
    }
}


.abo-linkbtn {
    @extend .btn;

    display: inline-block;
    width: auto;
    margin: 0;

    background-image: linear-gradient(gold, orangered); //linear-gradient(mediumturquoise, lightseagreen);
    background-clip: padding-box;
    color: white;
    border-color: white;

    &:hover {
        background-image: linear-gradient(gold, orange);
        color: white;
        border-color: white;
    }
}


#example-container {
    width:  290px;
    height: 330px;
    float: right;
    @media (max-width: 600px) {
        float: none;
    }

    #example-picker {
        display: inline-block;
        border: 30px solid currentColor;
        border-radius: 100%;
        box-shadow: 0 2px 4px 0 black;
    }

    .picker_wrapper {
        position: absolute;
    }
}
