.picker_wrapper {
    position: absolute;
    display: block;
    width: 272px;
    padding: 8px 0 8px 8px;
    box-sizing: border-box;

    overflow: visible;
    cursor: default;
    pointer-events: auto;
    z-index: 1;

    /* Initial selection */
    color: red;
}
.picker_wrapper, .picker_wrapper::before, .picker_wrapper::after {
    background: #f2f2f2;
    box-shadow: 0 0 10px 1px rgba(0,0,0, .4);
}
.picker_wrapper::before, .picker_wrapper::after {
    content: '';
    display: block;
    position: absolute;
    top: 0; left: 0;
    z-index: -99;
}
.picker_wrapper::before {
    width:  30px;
    height: 30px;
    transform: skew(45deg);
    transform-origin: 0 100%;
}
.picker_wrapper::after {
    width: 40px;
    height: 40px;
    box-shadow: none;
}

.picker_wrapper > div {
    margin: 8px;
    float: left;
}
/*
.picker_arrow {
    height: 0;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #f2f2f2;
    position: absolute;
    top: -20px;
    left: 0;
}
*/

.picker_hue {
    width: 240px;
    height: 20px;
    position: relative;
    margin-left: 10px;
    background-image: linear-gradient(90deg, red, yellow, lime, cyan, blue, magenta, red);
    outline: 1px solid #ccc;
}

.picker_sl {
    width: 203px;
    height: 203px;
    position: relative;
    outline: 1px solid #ccc;

    background-color: red;
    /* https://css-tricks.com/thing-know-gradients-transparent-black/ */
    background-image: /*linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 90%), */
                      linear-gradient( 0deg, black, rgba(0,0,0, 0)), 
                      linear-gradient(90deg, white, rgba(255,255,255, 0));
}

.picker_alpha {
    width: 20px;
    height: 200px;
    position: relative;
    margin-left: 10px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2' height='2'%3E%3Cpath d='M1,0H0V1H2V2H1' fill='lightgrey'/%3E%3C/svg%3E") top/contain white;
    outline: 1px solid #ccc;
}


.picker_selector {
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    margin: -12px;
    cursor: pointer;

    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 0 3px 1px #67b9ff;
    background: currentColor;
}
.picker_slider .picker_selector {
    border-radius: 2px;
}
.picker_hue .picker_selector {
    top: 50%;
}
.picker_sl .picker_selector {
    left: 100%;
}
.picker_alpha .picker_selector {
    left: 50%;
    background: none;
}

.picker_sample {
    width: 170px;
    height: 30px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2' height='2'%3E%3Cpath d='M1,0H0V1H2V2H1' fill='lightgrey'/%3E%3C/svg%3E") left top/20px white;
    position: relative;
    margin-top: 10px;
    outline: 1px solid #aaa;
}
.picker_sample::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: currentColor;
}

.picker_done {
    width: 53px;
    height: 30px;
    line-height: 30px;

    color: #444;    
    background: #e2e2e2;
    outline: 1px solid #ccc;
    box-shadow: 0 0 3px 1px #eee;

    text-align: center;
    cursor: pointer;
}



/*
.picker_slider {
    position: relative;
    width: 200px;
    height: 50px;
    margin: 10px;
    background: salmon;
}
.picker_sl {
    position: relative;
    width: 200px;
    height: 200px;
    background: gray;
}

.picker_selector {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: -10px;
    background: gold;
}

.picker_sample {
    position: relative;
    width: 50px;
    height: 50px;
    background: white;
}
.picker_sample::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: currentColor;
}
*/