//- tabindex: See comment on .picker_wrapper in _components.scss
.picker_wrapper(tabindex=-1)

    .picker_arrow

    .picker_hue.picker_slider
        .picker_selector

    .picker_sl
        .picker_selector

    .picker_alpha.picker_slider
        .picker_selector

    .picker_editor
        input(aria-label='Type a color name or hex value')

    .picker_sample

    .picker_done
        button Ok

    .picker_cancel
        button Cancel
