.picker_wrapper

    .picker_arrow

    .picker_hue.picker_slider
        .picker_selector

    .picker_sl
        .picker_selector

    .picker_alpha.picker_slider
        .picker_selector

    .picker_editor
        input

    .picker_sample

    .picker_done
        button Ok
